.row {
  display: flex;
  font-family: "Junge", cursive;
  flex-wrap: wrap;


}
.column {
  flex: 1;
  width: 30vh;
  max-width: 100%;
}

.column:nth-child(1) {
    flex: 0 0 35vw; /* Primeira coluna tem 35vw de altura */
    text-align: center;
    margin-top: 75px;

}

.column:nth-child(2) {
    flex: 0 0 55vw; /* A segunda coluna tem 55vh de altura */
    position: relative;
    top: 63px;
    margin-top: 75px;
}

body {
  margin: 0px;
}

.jacques-francois-regular {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: relative;
  left: 20px;
  top: -97vh;
  z-index: 1;
  color: rgb(255, 255, 255)
}

.texto-estilizado {
  font-family: "Junge", cursive;
  font-weight: 80;
  font-style: normal;
}

.botao2 {
  font-family: "Jacques Francois", serif;
  background-color: #ffffff; 
  color: #000000; 
  border: 2px solid #ffffff; /* Borda */
  padding: 10px 20px; /* Espaçamento interno do botão */
  font-size: 20px; 
  border-radius: 0px; /* Forma do botão */
  cursor: pointer; /* Cursor do mouse muda para ponteiro */
  text-decoration: none; /* Remove sublinhado */
  display: inline-block; /* Torna o elemento um bloco de nível de linha */
  width: 450px;
  height: 65px;
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
}

.sujeito {
  font-family: "Jacques Francois", serif;
  font-size: 40px; 
  position: relative;
  top: 45vh;
  text-align: center;
  z-index: 1;
  
}

.sujeito2 {
  font-family: "Jacques Francois", serif;
  font-size: 20px; 
  position:relative;
  top: 43vh;
  width: 90vw;
  height: auto;
  text-align: center;
  font-weight: 3;
  z-index: 1;
}

.botao:hover {
  background-color: #747171; /* Cor de fundo  */
  border: 2px solid #747171; 
}

.botao {
  background-color: #ffffff; 
  color: #000000;
  border: 2px solid #ffffff; 
  padding: 10px 20px; /* Espaçamento interno do botão */
  font-size: 22px; 
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  width: 450px;
  height: 80px;
  top: 44vh;
  position: relative;
  font-family: "Jacques Francois", serif;

}

.botao2:hover {
  background-color: #747171; 
  border: 2px solid #747171; 
}

.imagem {
  position: relative;
  z-index: 0;
    width: 99vw; /* Define a largura da imagem como 100% da largura da janela de visualização */
    height: 99vh; /* Define a altura da imagem como 100% da altura da janela de visualização */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço da div, mantendo a proporção */
}

.titulo {
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  left: 2%;
  max-width: 100%;
  max-height: 200px;
}

.primeiro {
  height: 90vh;
  width: 90vw;
}

.container {
  height: 50vh;
  max-width: 100vw;
}

.text-align {
  text-align: justify;
  width: 75%; /* Define a largura */
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
  padding: 15px;
  font-size: 20px;
}

.card-area {
  background-color: #ffffff;
}

.texto-estilizadob {
  font-family: "Jacques Francois", serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  padding-top: 40px;
}

.texto-estilizadob2 {
  font-family: "Jacques Francois", serif;
  font-style: normal;
  font-weight: 100px;
  color: white;
  padding: 5px;
  font-size: 20px;
  font-weight: 58;
}

.vermeio {
  font-family: "Jacques Francois", serif;
  background-color: #40140f; 
  text-align: center;
  width: 100%;
  height: auto;
}

.rosinha {
  background-color: #f8dfdb; 
  text-align: center;
  position: relative;
  padding: 20px;
}

.AA {
  text-align: left;
  margin-top: 60px;
  margin-left: 80px;
  padding: 10px;
}
